.btn{
  background-color: #fff;
  outline: none;
  border: 0;
  padding: 20px 30px;
  border-radius: 6px;
}
.btn-primary{
  background-color: aqua;
  color: #fff;
  font-size: 18;
  cursor: pointer;
}